@using AttributesOfValidation.Models;
@model Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    
    <div>
        <p>
            <label asp-for="Name">Name</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Email">Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="Password">Password</label><br />
            <input type="text" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="PasswordConfirm">PasswordConfirm</label><br />
            <input type="text" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </p>
        <p>
            <label asp-for="Age">Age</label><br />
            <input type="number" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </div>

    <div asp-validation-summary="All"></div>

</form>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>