<form method="post">
    <p>
        <label>Укажите имя пользователя: </label>
        <input name="Person.Name" />
    </p>
    <p>
        <label>Укажите возраст пользователя: </label>
        <input type="number" name="Person.Age" />
    </p>
    <input type="submit"/>
</form>