USE [master]
GO
/****** Object:  Database [usersdb]    Script Date: 22.08.2023 13:14:31 ******/
CREATE DATABASE [usersdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'usersdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\usersdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'usersdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\usersdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usersdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usersdb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.08.2023 13:14:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Age]) VALUES (1, N'loc', 123)
INSERT [dbo].[Users] ([Id], [Name], [Age]) VALUES (1002, N'hercdf', 236)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
