<form method="post">
    <p>
        <label>Укажите имя:</label>
        <input name="person.Name" />
    </p>
    <p>
        <label>Укажите возраст:</label>
        <input type="number" name="person.Age" />
    </p>
    <input type="submit" />
</form>